# Ignore compiled files
*.o
*.pyc
*.exe

# Ignore project-specific files and directories
.env
.idea/
data/
envstpt/
results/
work_dirs/
mmaction2/
mmpretrain/
!*/mmaction2
!*/mmpretrain
practice.py
practice
misc/output
output
*.pkl
*.json
